@model TaskListing.Models.TaskList 

<br />
<center>
    <p style="font-family:Cambria; color:black; font-size:15px">@(Model.Id != 0 ? "Edit" : "Create New") Task</p>

    <form method="post" id="upsertTask" style="font-family:Cambria; color:black; font-size:12px">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated" />
            <input type="hidden" asp-for="TaskStatus" />}
        <label asp-for="TaskName"></label><br />
        <input name="TaskName" /><br />


        <button type="submit">@(Model.Id != 0 ? "Edit" : "Create")</button><br />
        <a asp-action="Index">Back To Tasks</a>
    </form>
</center>





